---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import forside from "../assets/images/forside.webp";
import landingpage from "../assets/images/landingpage.webp";
import landingpage_1 from "../assets/images/landingpage_1.webp";
import landingpage_2 from "../assets/images/landingpage_2.webp";
import landingpage_3 from "../assets/images/landingpage_3.webp";
import landingpage_4 from "../assets/images/landingpage_4.webp";
import om from "../assets/images/om.webp";
import verdensskove from "../assets/images/verdensskove.webp";

---
<MainLayout title="Titel">




<!-- 
			<Image class="" src={forside} alt="forside"/>
			<Image class="" src={landingpage} alt="forside"/>
			<Image class="" src={landingpage_1} alt="forside"/>
			<Image class="" src={landingpage_2} alt="forside"/>
			<Image class="" src={landingpage_3} alt="forside"/>
			<Image class="" src={landingpage_4} alt="forside"/>
			<Image class="" src={om} alt="forside"/>
			<Image class="" src={landingpage_4} alt="forside"/>
			<Image class="" src={verdensskove} alt="forside"/> -->

			  <!-- <Button variant="secondary" size="small"><a href="">TILMELD</a></Button>
			  <Button variant="primary" size="medium"><a href="">BLIV OPDATERET</a></Button>
			  <Button variant="primary" size="medium"><a href="">SE DESTINATIONER</a></Button>
			  <Button variant="primary" size="medium"><a href="">TILMELD INFOMØDE</a></Button>
			  <Button variant="primary" size="medium"><a href="">SE DESTINATIONER</a></Button>
			  <Button variant="primary2" size="none"><a href="">KOTAKT OS</a></Button>

			  <Button variant="mobilsecondary" size="small"><a href="">TILMELD</a></Button>
			  <Button variant="mobilprimary" size="medium"><a href="">BLIV OPDATERET</a></Button>
			  <Button variant="mobilprimary" size="medium"><a href="">SE DESTINATIONER</a></Button>
			  <Button variant="mobilprimary" size="medium"><a href="">TILMELD INFOMØDE</a></Button>
			  <Button variant="mobilprimary" size="medium"><a href="">SE DESTINATIONER</a></Button>
			  <Button variant="mobilsecondary2" size="none"><a href="">KOTAKT OS</a></Button> -->

</MainLayout>